.root {
  padding: 20px 30px;
}

.search-root {
  .search-wrapper {
    .search-container {
      .top-block {
        display: flex;
        align-items: center;

        input {
          transition: all .2s ease-in-out;
          width: 90%;
          height: 45px;
          font-size: 14px;
          padding: 5px 30px;
          border-radius: 5px;
          border: none;
          outline: none;

          &:focus {
            box-shadow: 0px 0px 15px 5px rgba(196, 195, 195, 0.5);
          }

          &:hover {
            box-shadow: 0px 0px 15px 5px rgba(196, 195, 195, 0.5);
          }
        }

        .search-btn {
          transition: all .4s ease-in-out;
          box-shadow: 0px 0px 15px 5px rgba(196, 195, 195, 0.5);
          opacity: 0.5;
          cursor: pointer;
          pointer-events: none;
          width: 9%;
          height: 45px;
          margin: 0 0 0 20px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #717171;
          font-weight: bold;

          &.active {
            pointer-events: auto;
            opacity: 1;
          }
        }
      }

      .bottom-block {
        display: flex;
        margin: 10px 0 0;
        flex-wrap: wrap;

        .fav-item {
          cursor: pointer;
          position: relative;
          margin: 20px 0 0 50px;
          width: 10%;
          height: 30px;
          display: flex;
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;

          &:hover {
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
          }

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 14px;
            font-weight: bold;
          }

          .delete-icon {
            z-index: 99;
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 55px;
            font-size: 8px;
            color: #FFFFFF;
            font-weight: bold;
          }

          &.removed {
            display: none;
          }
        }
      }
    }
  }
}

.results-root {
  margin: 80px 0 50px;

  .results-wrapper {
    .results-container {
      h1 {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin: 0 0 30px;
      }

      .movies-block {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;

        .movies-item {
          box-shadow: 0px 0px 11px 5px rgb(195 195 195 / 30%);
          position: relative;
          width: 20.7%;
          height: 400px;
          background-color: #ffffff;
          margin: 50px 0 0 50px;
          text-align: center;
          animation: movieItemAnim 1s;

          img {
            width: 100%;
            height: 60%;
          }

          p {

            font-size: 16px;
            margin: 20px 0;

            &.desc {
              font-weight: bold;
              width: 80%;
              margin: 20px auto 0;
            }
          }

          i {
            cursor: pointer;
            position: absolute;
            bottom: 5px;
            right: 5px;
          }

          @keyframes movieItemAnim {
            from {
              opacity: 0
            }
            to {
              opacity: 1
            }
          }
        }
      }
    }
  }
}

.favorites-root {
  margin: 50px 0 50px;

  .favorites-wrapper {
    .favorites-container {
      h2 {
        font-size: 32px;
        font-weight: bold;
        display: none;
        margin: 0 0 20px;
        text-align: center;

        &.active {
          display: block;
        }
      }

      .favorites-block {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        .favorites-item {
          box-shadow: 0px 0px 11px 5px rgb(195 195 195 / 30%);
          position: relative;
          width: 20.7%;
          height: 400px;
          margin: 10px 0 0 10px;
          text-align: center;
          animation: favoriteItemAnim .5s;
          margin: 50px 0 0 50px;
          img {
            width: 100%;
            height: 60%;
          }

          p {
            font-size: 16px;

            margin: 20px 0;

            &.desc {
              font-weight: bold;
              width: 80%;
              margin: 20px auto 0;
            }
          }

          i {
            position: absolute;
            bottom: 5px;
            right: 5px;
          }
        }
      }
    }
  }

  @keyframes favoriteItemAnim {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }
}

.favAdd {
  cursor: pointer;
  font-size: 22px;
  transition: all .2s ease-in-out;
  color: #ff253a;

  &.active {
    color: #2aff00;
  }
}